<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{judulku}</title>




<!-- Bootstrap core JavaScript -->
<script src="{sumber}/template/vendor/jquery/jquery.min.js"></script>
<script src="{sumber}/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Bootstrap core CSS -->
<link href="{sumber}/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">




	</head>


	<body>

						
											{isi}

		




	</body>
</html>
